php.local/www/experiment/xml/xsd/deployment.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="configTypes.xsd"/>
	<xs:element name="Config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Targets">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Test">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="Config" name="Config"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Staging">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="Config" name="Config"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Live">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="Config" name="Config"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
